.card {
  width: 540px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__list {
  margin: 0;
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  display: flex;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: solid 1px;
  width: 100%;
}
