.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.menu__title {
  max-width: 780px;
  margin: 100px auto 24px;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", serif;
  text-align: center;
}
