.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.menu__title {
  max-width: 780px;
  margin: 100px auto 24px;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", serif;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  gap: 100px;
}

.card__content {
  width: 540px;
  display: flex;
  flex-direction: column;
}

.menu__cards {
  list-style-type: none;
  margin-bottom: 100px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__list-item {
  font-family: "Noto Serif", serif;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 16px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  display: flex;
  border-bottom: solid 1px;
  width: 100%;
}
