.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  margin: 100px auto 0px;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 8px;
  font-weight: 500;
}
