.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 125px;
  height: 142px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-bottom: auto;
  margin-top: 30px;
  margin-right: 80px;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 80px;
}

.header__span-accent {
  color: #2f80ed;
  display: block;
  max-width: 729px;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", serif;
  margin-left: 80px;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__footer {
  margin-top: auto;
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #838383;
  font-weight: 500;
}

.header__paragraph {
  list-style-type: none;
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__address {
  margin-right: 80px;
  margin-bottom: 0;
  margin-top: auto;
}

.recipes {
  color: #ffffff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}
.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 215px;
  justify-content: center;
}

.recipes__video {
  margin-left: 40px;
}

.recipes__iframe {
  display: flex;
  flex-direction: row;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  margin: 100px auto 0px;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 8px;
  font-weight: 500;
}

.form__fieldset {
  max-width: 385px;
  border: none;
  display: flex;
  flex-direction: column;
}

.form__input {
  border-radius: 4px;
  opacity: 100%;
  margin: 8px auto 32px;
  padding: 0 24px;
}

.form__input[type="text"],
.form__input[type="email"],
.form__input[type="number"],
.form__input[type="datetime-local"] {
  width: 385px;
  height: 60px;
  border: 1px solid #838383;
}

.form__input:hover {
  opacity: 70%;
  transition: linear 0.5s ease-in;
}

.form__button {
  height: 60px;
  width: 385px;
  margin: 0px auto 32px;
  padding: 0;
  color: #ffffff;
  background: #2f80ed;
  border: none;
  border-radius: 5px;
  opacity: 100%;
  font-weight: 500;
}

.form__button:hover {
  opacity: 70%;
  transition: linear 0.5s ease-in;
}

.form__input[type="text"]:focus,
.form__input[type="email"]:focus,
.form__input[type="number"]:focus,
.form__input[type="datetime-local"]:focus {
  outline-color: #2f80ed;
  outline-style: solid;
  outline-width: 1px;
}

.form__label-checkbox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.form__input-checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-bottom: 0;
  margin-top: 0;
}

.form__input::placeholder {
  color: #8b8b8b;
  font-size: 20px;
  line-height: 30px;
}
